/* client/main.css */

body.custom-background {
  box-sizing: border-box;
  background-color: #f5f7fa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

