body.custom-background {
  box-sizing: border-box;
  background-color: #e8ebf0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  border-bottom: 3px solid #3f285e !important;
  background-color: #e8ebf0 !important;
  font-weight: bold;
}
