body.custom-background {
  background-color: #e8ebf0;
}
.container{
  margin-top: 70px;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  border-bottom: 3px solid #3f285e !important;
  background-color: #e8ebf0 !important;
  font-weight: bold;
}
