/* Custom styles for the dropdown */
.custom-dropdown .dropdown-menu {
    background-color: #ffffff; 
    border: 1px solid #cccccc; 
    border-radius: 4px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    max-height: 50vh; 
    overflow-y: auto; 
  }
  

  .custom-dropdown .dropdown-item {
    padding: 10px 20px; 
    font-size: 14px; 
    color: #333333; 
  }
  
  .custom-dropdown .dropdown-item:hover {
    background-color: #f0f0f0; 
  }
  
  .custom-dropdown .dropdown-toggle {
    border: none; 
    color: #ffffff; 
    padding: 10px 20px; 
    border-radius: 4px; 
  }
