<template name="dropdownMenu">
    <div id="city-dropdown" class="dropdown custom-dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Select State
      </button>
      <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each states}}
          <a class="dropdown-item custom-dropdown-item" href="#">{{stateCode}} - {{state}}</a>
        {{/each}}
      </div>
    </div>
  </template>
  